$light_gray: #575756;
$light_gray_t: #57575640;
$blue: #59A6C0;
$red: #E73137;
$red_t: #E7313770;
$red_d: #751a1d;
$brick: #E66559;
$silver: #F1F0F0;
$dark_silver: #CFCDCC;
$esg: #3EA3974D;
$white: #fff;
$black: #000000;
$teal:#3EA397;
$teal_t:#3EA39730;
$teal_t2:#3EA39750;
$bckg: #f8f8f8;
